@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 900;
    color: #4523a1;
}


/*headings and logo*/

h1, h2, h3 {
 font-family: Source Sans Pro, sans-serif;
 text-transform: uppercase;
 letter-spacing: 3px;
 color: #252525
}

#logo{
    float: left;
    font-size: 50px;
    margin-left: 50px;
}

/* navigation links*/

#menu{
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 80px;

}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration-color: blue;
}

#menu a:hover {
border-bottom: 2px solid blue;
}
.active {
    border-bottom: 2px solid blue;
}
/*hero-image and cover-text*/

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#cover-text, #cover-text h3 {
    color: #fff;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/cairo-at-night.avif') no-repeat center center;

/*animates zoom effect on loading page*/
 animation-name: hero-zoom;
 animation-duration: 5s;
 animation-fill-mode: forwards;
}

/*create the level of zoom for hero-image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
transform: scale(1.1);
    }
}


#cover-text{
    font-size: 20px;
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing:  3px;

    width: 200px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba( 241 109, 107, .7);

    bottom: 100px;
    right: 100px;

    position: absolute;
}

/* descritption text*/

#description-text {
    height: 600px; 
}

#left-about {
    padding-top: 30px;
    width: 30%;
    float: left;
}

#right-about {
    padding-top:30px;
    width: 33%;
    float: right;
}

#center-about {
    width:33%;
    margin: 0 auto;
    
}
